{% extends "layout.html.twig" %}

{% block content %}
    <div class="mt-3">
        {# Item #}
        {% include 'item.html.twig' with {'item': item} %}

        <h4 class="mt-4">Comments</h4>

        {# Comments #}
        <table class="table">
            <tbody>
            {% for comment in item.comments %}
                <tr>
                    <td scope="col">
                        <small>
                            <a href="{{ path('user', {id: comment.author}) }}">
                                {{ comment.author }}
                            </a>
                            {{ comment.age }} ago
                        </small>
                        <br/>
                        {{ comment.text | raw }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
