{% extends "layout.html.twig" %}

{% block content %}
    <table class="table">
        <tbody>
        {% for item in itemList %}
            <tr>
                <td scope="col">{{ itemStartIndex + loop.index }}</td>
                <td scope="col">
                    {% include 'item.html.twig' with {'item': item} %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if nextPage %}
        <a class="mb-4" href="{{ nextPage }}">More</a>
        <br>
        <br>
    {% endif %}
{% endblock %}
